workflows/MCP-유튜브분석-시드댄스패치-v3-OAuth.json
{"updatedAt":"2026-02-21T12:23:55.253Z","createdAt":"2026-02-21T09:24:56.072Z","id":"SNSN6BVQnmYjrufx","name":"MCP-유튜브분석-시드댄스패치-v3-OAuth","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1","name":"수동 시작","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[192,272]},{"parameters":{"assignments":{"assignments":[{"name":"url","value":"https://www.youtube.com/watch?v=rp6_d6sNYXY&t=68s","type":"string"}]},"options":{}},"id":"2","name":"입력 URL(설정)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,272]},{"parameters":{"jsCode":"const input = $json.url || '';\nconst m = input.match(/[?&]v=([a-zA-Z0-9_-]{11})/) || input.match(/youtu\\.be\\/([a-zA-Z0-9_-]{11})/);\nconst videoId = m ? m[1] : '';\nconst t = (input.match(/[?&]t=([^&]+)/)||[])[1] || null;\nif (!videoId) throw new Error('유효한 YouTube URL이 아닙니다.');\nreturn [{json:{...$json, inputUrl:input, videoId, startAt:t}}];"},"id":"3","name":"videoId 추출","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,272]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,contentDetails,statistics"},{"name":"id","value":"={{$json.videoId}}"}]},"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api"},"id":"4","name":"YouTube Data API(videos)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,144],"credentials":{"youTubeOAuth2Api":{"id":"xhDTjthN6Vts77h4","name":"MetaChain YouTube"}}},{"parameters":{"url":"=https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v={{$json.videoId}}&format=json","options":{}},"id":"5","name":"oEmbed 메타","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,320]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"6","name":"데이터 결합","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1424,288]},{"parameters":{"jsCode":"const api = $json;\nconst item = api.data?.[0] || {};\nconst snippet = item.snippet || {};\nconst stats = item.statistics || {};\nconst out = {\n  videoId: item.id || null,\n  title: snippet.title || null,\n  channel: snippet.channelTitle || null,\n  publishedAt: snippet.publishedAt || null,\n  duration: item.contentDetails?.duration || null,\n  tags: snippet.tags || [],\n  views: stats.viewCount || null,\n  likes: stats.likeCount || null,\n  comments: stats.commentCount || null,\n  checklist: [\n    '핵심요약5줄',\n    '샷구성패턴',\n    '카메라/리듬',\n    '프롬프트문법패턴',\n    '스킬반영 P1/P2/P3'\n  ],\n  nextStep: '자막 추출 노드(가능 시) 추가 후 최종 인사이트 문서 생성'\n};\nreturn [{json: out}];"},"id":"7","name":"분석 출력 정리","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,288]},{"parameters":{"content":"## 1. 입력/파싱\n- URL 입력\n- videoId, 시작시점(t) 추출\n- 실패 시: URL 형식 오류 안내","height":300,"width":660,"color":3},"id":"s1","name":"영역 1 - 입력/파싱","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,128]},{"parameters":{"content":"## 2. 메타데이터 수집\n- YouTube Data API(videos)\n- oEmbed 보조 메타\n- 실패 시: OAuth 연결/권한/할당량 점검","height":360,"width":430,"color":6},"id":"s2","name":"영역 2 - 메타수집","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,96]},{"parameters":{"content":"## 3. 분석 출력 정리\n- 데이터 결합\n- 핵심 필드 정규화\n- 체크리스트 생성","height":300,"width":558,"color":5},"id":"s3","name":"영역 3 - 결합/정리","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,128]},{"parameters":{"content":"## 4. 운영 규칙\n- API 키를 워크플로우에 저장하지 않음\n- YouTube OAuth Credential 사용\n- 결과는 옵시디언 인사이트로 저장","height":300,"width":360,"color":7},"id":"s4","name":"영역 4 - 운영 규칙","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[112,-208]}],"connections":{"수동 시작":{"main":[[{"node":"입력 URL(설정)","type":"main","index":0}]]},"videoId 추출":{"main":[[{"node":"YouTube Data API(videos)","type":"main","index":0},{"node":"oEmbed 메타","type":"main","index":0}]]},"YouTube Data API(videos)":{"main":[[{"node":"데이터 결합","type":"main","index":0}]]},"oEmbed 메타":{"main":[[{"node":"데이터 결합","type":"main","index":1}]]},"입력 URL(설정)":{"main":[[{"node":"videoId 추출","type":"main","index":0}]]},"데이터 결합":{"main":[[{"node":"분석 출력 정리","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"94336f86-ef20-4264-a45c-f1398967fe0d","activeVersionId":null,"versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2026-02-21T09:24:56.075Z","createdAt":"2026-02-21T09:24:56.075Z","role":"workflow:owner","workflowId":"SNSN6BVQnmYjrufx","projectId":"Q6IYjEZ0zKYV4LWk","project":{"updatedAt":"2026-02-19T04:53:48.051Z","createdAt":"2026-02-19T04:51:54.853Z","id":"Q6IYjEZ0zKYV4LWk","name":"Daniel Park <reedo.dev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}}],"tags":[],"activeVersion":null}