workflows/SNS_숏폼_자동화.json
{"updatedAt":"2026-03-04T07:17:11.831Z","createdAt":"2026-02-19T23:27:10.691Z","id":"OTP8h0WSF4U7iH5R","name":"SNS 숏폼 자동화","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. 기획 & 아이디어 (Planning)\n- 매일 09:00 (KST) 실행\n- 주제 1~8번 순환 로직\n- **SEO 최적화 (플랫폼별 태그/캡션 분리)**","height":420,"width":1088,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,240],"id":"b01334aa-7dc5-4035-a471-11344054bac8","name":"메모: 기획 단계"},{"parameters":{"content":"## 2. 영상 생성 (Generation)\n- Sora2 영상 생성 요청\n- **10분 대기 **\n- MP4 영상 다운로드","height":340,"width":1084,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,720],"id":"c65f6e1e-c3f5-4d18-89bd-4c1b45873d3e","name":"메모: 영상 생성"},{"parameters":{"content":"## 4. 배포 & 로그 (Distribution)\n- 유튜브 (SEO 태그 적용)\n- 인스타 릴스 (Dropbox 직링크 사용)\n- **틱톡: 시트에 별도 태그 저장 (Zapier 연동용)**","height":560,"width":1084,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,1616],"id":"f9d622b8-693c-48cb-a6c6-88f99f35e23a","name":"메모: 배포 및 저장"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9},{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,384],"id":"db1002b7-ca18-49ff-97a1-92d49c8dd58b","name":"스케줄 (매일 09:00)"},{"parameters":{"mode":"raw","jsonOutput":"={{\n  JSON.stringify({\n    \"runId\": $('기획').first().json.runId,\n    \"runStamp\": $('기획').first().json.runStamp,\n    \"pick\": $('기획').first().json.pick,\n    \"fileName\": 'short_' + $('기획').first().json.runStamp + '_' + $('기획').first().json.pick + '.mp4',\n    \"title\": $json.title || '',\n    \"description\": $json.description || '',\n    \"prompt\": $json.prompt || '',\n    \"youtube_tags\": $json.youtube_tags || '',\n    \"instagram_caption\": $json.instagram_caption || '',\n    \"instagram_tags\": $json.instagram_tags || '',\n    \"tiktok_tags\": $json.tiktok_tags || ''\n  })\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,448],"id":"c5151a64-04ce-4bae-b354-00060f6b814b","name":"데이터 추출 (SEO)"},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sora-2-text-to-video\",\n  \"callbackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"portrait\",\n    \"n_frames\": \"15\",\n    \"remove_watermark\": true\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-96,848],"id":"64d60a58-0e7a-4330-ac0f-207b0dda8633","name":"Sora2 영상 생성 요청","credentials":{"httpBearerAuth":{"id":"1P9DSpwPO8exGW5M","name":"Kie.AI"},"httpHeaderAuth":{"id":"rfw0oBEjYsfyE2HW","name":"KIEAI_Header"}}},{"parameters":{"url":"https://api.kie.ai/api/v1/jobs/recordInfo","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"taskId","value":"={{ $node[\"Sora2 영상 생성 요청\"].json.data.taskId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,848],"id":"dcd24a3e-6866-4e24-a760-3fdf24fdd483","name":"Sora2 결과 확인","credentials":{"httpBearerAuth":{"id":"1P9DSpwPO8exGW5M","name":"Kie.AI"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f3c999c-8305-4d68-ba90-91e198cfe775","name":"taskId","value":"={{ $json.data.taskId }}","type":"string"},{"id":"91388fc8-f21f-4a94-8ce5-d7519b9bd849","name":"resultUrl","value":"={{ JSON.parse($json.data.resultJson).resultUrls[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,848],"id":"800a6aac-ac6e-4b68-a0ba-6aab2b7b4473","name":"영상 URL 추출"},{"parameters":{"url":"={{ $json.resultUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[576,848],"id":"8159f54a-4dfa-496e-9721-cc811633251e","name":"MP4 다운로드","onError":"continueErrorOutput"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('데이터 추출 (SEO)').item.json.title }}","regionCode":"US","categoryId":"1","options":{"description":"={{ $('데이터 추출 (SEO)').item.json.description }}","notifySubscribers":false,"privacyStatus":"private","publicStatsViewable":true,"selfDeclaredMadeForKids":false,"tags":"={{ $('데이터 추출 (SEO)').item.json.youtube_tags }}"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[176,1952],"id":"afa158cf-a487-4653-8f51-3cd3f3547934","name":"유튜브 업로드","credentials":{"youTubeOAuth2Api":{"id":"xhDTjthN6Vts77h4","name":"MetaChain YouTube"}},"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v19.0","node":"17841460370092507","edge":"media","options":{"queryParameters":{"parameter":[{"name":"video_url","value":"={{ $('MP4 다운로드').item.json.resultUrl }}"},{"name":"caption","value":"={{ $('데이터 추출 (SEO)').first().json.instagram_caption + \"\\n\\n\" + $('데이터 추출 (SEO)').first().json.instagram_tags }}\n"},{"name":"media_type","value":"REELS"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[16,1712],"id":"cd2f0d3e-be7d-4d49-a946-fbf95075539e","name":"인스타 컨테이너 생성","credentials":{"facebookGraphApi":{"id":"Cge5uCEvdZLKIltJ","name":"aireelreality IG"}},"onError":"continueRegularOutput"},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,1712],"id":"58aadf35-8e6a-4fbe-9883-a379c914be3c","name":"대기 3분 (인스타 처리)","webhookId":"3dcfbc11-ced9-456f-a0c4-fb38e0a2983b"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v19.0","node":"17841460370092507","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[336,1712],"id":"73f89be8-322d-45ba-9dba-d3d8a3d375bc","name":"인스타 게시","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"Cge5uCEvdZLKIltJ","name":"aireelreality IG"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7f7f2bf9-ebd3-4a2e-8c0a-53ef4e92032f","name":"title","value":"={{ $('데이터 추출 (SEO)').first().json.title }}","type":"string"},{"id":"f0a96e49-841c-4ae9-8553-11bab2f53ca1","name":"youtube_id","value":"={{ $('유튜브 업로드').item.json.uploadId }}","type":"string"},{"id":"75761fd1-5eb6-4a52-996c-6c8e04cb1287","name":"insta_id","value":"={{ $('인스타 게시').first().json.id }}","type":"string"},{"id":"4f937810-c8c3-4ff2-8731-c7dcce63dc97","name":"status","value":"Success","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,1952],"id":"05b55a0f-3d49-4d6a-811c-2f68c0284b82","name":"최종 상태 정리"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"119_4ydFJCX2Noy4Z3S1KiRAtydWauXVfju4OtoXvyBk","mode":"list","cachedResultName":"SNS Auto Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/119_4ydFJCX2Noy4Z3S1KiRAtydWauXVfju4OtoXvyBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"시트1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/119_4ydFJCX2Noy4Z3S1KiRAtydWauXVfju4OtoXvyBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('데이터 추출 (SEO)').first().json.title }}","Video URL":"={{ \"https://drive.google.com/uc?export=download&id=\" + $('Google Drive 업로드1').first().json.id }}","YouTube Tags":"={{ $('데이터 추출 (SEO)').first().json.youtube_tags }}","IG Caption":"={{ $('데이터 추출 (SEO)').first().json.instagram_caption }}","IG Tags":"={{ $('데이터 추출 (SEO)').first().json.instagram_tags }}","TikTok Tags":"={{ $('데이터 추출 (SEO)').first().json.tiktok_tags }}","Status":"=유튜브: {{ $('유튜브 업로드').first().json.uploadId }} / 인스타: {{ $json.insta_id }} / 상태: {{ $json.status }}","description":"={{ $('데이터 추출 (SEO)').first().json.description }}"},"matchingColumns":[],"schema":[{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"YouTube Tags","displayName":"YouTube Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IG Caption","displayName":"IG Caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IG Tags","displayName":"IG Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TikTok Tags","displayName":"TikTok Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[544,1952],"id":"fb4e6ee9-76ae-46e3-b55a-c67bfd7bf6ea","name":"구글 시트 저장 (틱톡 연동)","credentials":{"googleSheetsOAuth2Api":{"id":"QhKtMwBXZIXD2yH6","name":"Reedo.Dev Google Sheets"}}},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,848],"id":"9c85dbed-8b5d-45cc-a24c-396117416312","name":"대기 10분 (생성 시간)","webhookId":"e3b8f515-ca97-4b80-b105-cd8f4a3e17f9"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $('Google Drive 업로드1').first().json.id }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,1952],"id":"4e7ec00a-9de0-430f-b8ad-a7a9cefd4a55","name":"HTTP Request"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[544,1712],"id":"736fbc2b-e9a8-4d09-9083-d77475057d11","name":"유튜브_인스타 병합"},{"parameters":{"assignments":{"assignments":[{"id":"video_url","name":"video_url","value":"={{ \"https://drive.google.com/uc?export=download&id=\" + $('Google Drive 업로드1').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,1280],"id":"a408c3e8-723d-4088-8741-6414155e9bbe","name":"직링크 생성"},{"parameters":{"content":"## 3. 호스팅 (Google Drive)\n1. **업로드**: MP4 파일 저장\n2. **권한 풀기**: 'Add Permission' 기능 사용\n3. **직링크**: 다운로드 전용 URL 생성","height":363,"width":1052,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-304,1136],"id":"f2ace399-dba7-428c-8eb9-a4c0878a3082","name":"메모: 호스팅 섹션1","typeVersion":1},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1SY4ckLmEtVJpOQU2lACTQ94I_WJzNoGg","mode":"list","cachedResultName":"Video","cachedResultUrl":"https://drive.google.com/drive/folders/1SY4ckLmEtVJpOQU2lACTQ94I_WJzNoGg"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-16,1280],"id":"dcb421fb-9886-4591-b72a-d87977bc6ecd","name":"Google Drive 업로드1","credentials":{"googleDriveOAuth2Api":{"id":"K0qP0mtTHAG8ByYw","name":"Reedo.Dev Google Drive"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,1280],"id":"837be6e4-d051-4bfa-aaba-abcb578f6a89","name":"권한 변경 (공개)1","credentials":{"googleDriveOAuth2Api":{"id":"K0qP0mtTHAG8ByYw","name":"Reedo.Dev Google Drive"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[368,1280],"id":"1d13b906-7c8a-48e0-8679-5fa615867e4b","name":"대기 30초 (링크 반영)1","webhookId":"b603cce7-f13c-4ffa-b8cc-ab8f837d6ab2"},{"parameters":{"jsCode":"const min = 1;  // minimum value\nconst max = 11;  // maximum value\n\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\nreturn [{ json: { randomNumber } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,384],"id":"3a79801f-d6b1-486f-96a9-9e2c4d4c475a","name":"기획"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[112,560],"id":"170b08e3-36f8-404a-a4f8-b4baaee269e7","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"iYVDokzKPRTF6YN7","name":"Reedo.Dev Google Gemini"}}},{"parameters":{"promptType":"define","text":"=generate a prompt for {{ $json.randomNumber }}","options":{"systemMessage":"You are an AI that generates random video prompts for short form content of a person.\n\nMaximize SEO for each platform:\n- YouTube: Focus on search volume keywords.\n- Instagram: Use emotional hooks and aesthetics.\n- TikTok: Use trending challenges and sounds keywords.\n\n\nYou MUST use ONLY Primary Video Type #{{ $json.randomNumber }}. Do not use other types.\n\nDisclosure requirement: Include the line “(This video was generated with AI.)” in YouTube description and Instagram instagram_caption. For TikTok, either map instagram_caption to TikTok caption in the uploader or add tiktok_caption field and include the same disclosure there. Also add disclosure hashtags in tiktok_tags (e.g., #aigenerated #aivideo).\n\n\nThe primary person in each prompt must always be written as: @reedo.yon\nNever break JSON format. Never add extra text or explanation outside the JSON.\nNever repeat a video, always cycle through them.\nWord prompts in a way that seems safe to not trigger any violent video restrictions while maintaining the overall goal of the story. Keep the prompts short and to the point, only include essential details.\n\nPrimary Video Types:\n\n1. The primary person lies on the living room floor, laughing helplessly as they are covered in a dozen fluffy, energetic kittens climbing all over them, nibbling ears and fingers.\n    나레이션: '아이고, 간지러워! 거기는 먹는 거 아니야! 내 귀 내놔! 항복! 항복!'\n\n2. The primary person attempts a yoga pose on a grassy hill but is humorously tackled and knocked over by a group of jumping baby goats wearing tiny sweaters.\n    나레이션: '요가 좀 하자 얘들아! 왜 자꾸 등 위로 점프하는 건데! 나 무거워! 중심을 못 잡겠잖아!'\n\n3. The primary person sits in a flower field, completely buried under a fluffy stampede of hundreds of bunnies swarming them, demanding carrots.\n    나레이션: '당근 없어! 나 당근 아니라고! 이 털뭉치들한테 압사당하겠네! 살려줘!'\n\n4. The primary person is at a panda sanctuary, being clumsily hugged, rolled over, and playfully gnawed on by three chubby baby pandas.\n     나레이션: '너네 왜 이렇게 무거워! 굴러가지 마! 아이고, 나까지 같이 구르네! 내 다리 좀 놔줘!'\n\n5. The primary person walks on a sandy beach, constantly tripping and stumbling because a dozen short-legged Corgi puppies are weaving chaotically around their feet.\n    나레이션: '다리가 짧아서 안 보여! 발밑 조심! 아이고! 엉덩이들 좀 치워봐! 나 넘어진다!'\n\n6. The primary person is sitting in a shallow inflatable pool, swarmed by slick, squeaking baby otters climbing all over their head and shoulders like a jungle gym.\n    나레이션: '미끌거려! 거긴 내 머리야, 미끄럼틀 아니라고! 꺅, 귀 옆에서 너무 귀여운 소리 내지 마!'\n\n7. The primary person is walking on a farm path, being followed intensely by a massive, loudly chirping army of yellow ducklings that think the person is their mother.\n    나레이션: '나 너희 엄마 아니야! 제발 따라오지 마! 밟을까 봐 무서워서 못 걷겠잖아!'\n\n8. The primary person sits in a forest setting, giggling as mischievous baby raccoons with tiny hands check their pockets, try to steal keys, and climb onto their head.\n    나레이션: '야! 그거 내 차 키야! 내 주머니 뒤지지 마! 간지러워! 이 작은 도둑들아!'\n\n9. The primary person is lying happily in a mud puddle, being enthusiastically nudged, sniffed, and snorted at by a litter of tiny, muddy piglets.\n    나레이션: '알았어, 알았어! 나도 이제 완전히 진흙투성이잖아! 그만 코로 밀어! 꿀꿀거리지 마!'\n\n10.  The primary person stands in deep snow, barely visible as they are swarmed by fluffy white Samoyed puppies barking like clouds, blending into the snowy background.\n     나레이션: '누가 눈이고 누가 강아지야! 털 속에 파묻혀서 아무것도 안 보여! 너무 하얘! 나 여기 있어!'\n\nIMPORTANT: Respond ONLY with a valid JSON object with these exact keys:\ntitle, description, prompt, youtube_tags, instagram_caption, instagram_tags, tiktok_tags\nNo markdown, no backticks, no explanation. Just the JSON object.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[240,448],"id":"4d295357-5c63-48d1-99ca-5fa9c6e03d72","name":"AI Agent"},{"parameters":{"jsCode":"const output = $input.first().json.output;\n\n// 마크다운 코드블록 제거\nlet cleaned = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// JSON 객체 부분만 추출\nconst start = cleaned.indexOf('{');\nconst end = cleaned.lastIndexOf('}');\ncleaned = cleaned.substring(start, end + 1);\n\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    title: parsed.title,\n    description: parsed.description,\n    prompt: parsed.prompt,\n    youtube_tags: parsed.youtube_tags,\n    instagram_caption: parsed.instagram_caption,\n    instagram_tags: parsed.instagram_tags,\n    tiktok_tags: parsed.tiktok_tags\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,448],"id":"64c9e272-ceff-48e4-927b-fb37f656876b","name":"출력형식"}],"connections":{"스케줄 (매일 09:00)":{"main":[[{"node":"기획","type":"main","index":0}]]},"데이터 추출 (SEO)":{"main":[[{"node":"Sora2 영상 생성 요청","type":"main","index":0}]]},"Sora2 영상 생성 요청":{"main":[[{"node":"대기 10분 (생성 시간)","type":"main","index":0}]]},"Sora2 결과 확인":{"main":[[{"node":"영상 URL 추출","type":"main","index":0}]]},"영상 URL 추출":{"main":[[{"node":"MP4 다운로드","type":"main","index":0}]]},"MP4 다운로드":{"main":[[{"node":"Google Drive 업로드1","type":"main","index":0}],[{"node":"기획","type":"main","index":0}]]},"인스타 컨테이너 생성":{"main":[[{"node":"대기 3분 (인스타 처리)","type":"main","index":0}]]},"대기 3분 (인스타 처리)":{"main":[[{"node":"인스타 게시","type":"main","index":0}]]},"유튜브 업로드":{"main":[[{"node":"유튜브_인스타 병합","type":"main","index":0}]]},"인스타 게시":{"main":[[{"node":"유튜브_인스타 병합","type":"main","index":1}]]},"최종 상태 정리":{"main":[[{"node":"구글 시트 저장 (틱톡 연동)","type":"main","index":0}]]},"대기 10분 (생성 시간)":{"main":[[{"node":"Sora2 결과 확인","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"유튜브 업로드","type":"main","index":0}]]},"유튜브_인스타 병합":{"main":[[{"node":"최종 상태 정리","type":"main","index":0}]]},"직링크 생성":{"main":[[{"node":"인스타 컨테이너 생성","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Google Drive 업로드1":{"main":[[{"node":"권한 변경 (공개)1","type":"main","index":0}]]},"권한 변경 (공개)1":{"main":[[{"node":"대기 30초 (링크 반영)1","type":"main","index":0}]]},"대기 30초 (링크 반영)1":{"main":[[{"node":"직링크 생성","type":"main","index":0}]]},"기획":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"출력형식","type":"main","index":0}]]},"출력형식":{"main":[[{"node":"데이터 추출 (SEO)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"59dfa492-1743-4d72-8f2f-b3cf5c92f5f7","activeVersionId":null,"versionCounter":117,"triggerCount":0,"shared":[{"updatedAt":"2026-02-19T23:27:10.697Z","createdAt":"2026-02-19T23:27:10.697Z","role":"workflow:owner","workflowId":"OTP8h0WSF4U7iH5R","projectId":"Q6IYjEZ0zKYV4LWk","project":{"updatedAt":"2026-02-19T04:53:48.051Z","createdAt":"2026-02-19T04:51:54.853Z","id":"Q6IYjEZ0zKYV4LWk","name":"Daniel Park <reedo.dev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}}],"tags":[],"activeVersion":null}