workflows/배포수신-GitHubPush-v1.json
{"updatedAt":"2026-02-21T12:23:50.595Z","createdAt":"2026-02-21T09:48:34.561Z","id":"m7c7N1PEVGJa3ncu","name":"배포수신-GitHubPush-v1","description":null,"active":true,"isArchived":false,"nodes":[{"id":"1","name":"GitHub 배포 웹훅 수신","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,300],"parameters":{"path":"github-deploy-seedance","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"github-deploy-seedance"},{"id":"2","name":"수신내용 정리","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,300],"parameters":{"assignments":{"assignments":[{"name":"status","value":"received","type":"string"},{"name":"repo","value":"={{$json.body.repo || ''}}","type":"string"},{"name":"branch","value":"={{$json.body.branch || ''}}","type":"string"},{"name":"commit","value":"={{$json.body.commit || ''}}","type":"string"}]}}},{"id":"3","name":"응답 반환","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[760,300],"parameters":{"respondWith":"json","responseBody":"={{$json}}"}}],"connections":{"GitHub 배포 웹훅 수신":{"main":[[{"node":"수신내용 정리","type":"main","index":0}]]},"수신내용 정리":{"main":[[{"node":"응답 반환","type":"main","index":0}]]}},"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"cfae53fb-25af-40a8-9028-c44e5a82033c","activeVersionId":"cfae53fb-25af-40a8-9028-c44e5a82033c","versionCounter":21,"triggerCount":1,"shared":[{"updatedAt":"2026-02-21T09:48:34.564Z","createdAt":"2026-02-21T09:48:34.564Z","role":"workflow:owner","workflowId":"m7c7N1PEVGJa3ncu","projectId":"Q6IYjEZ0zKYV4LWk","project":{"updatedAt":"2026-02-19T04:53:48.051Z","createdAt":"2026-02-19T04:51:54.853Z","id":"Q6IYjEZ0zKYV4LWk","name":"Daniel Park <reedo.dev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-21T09:49:42.666Z","createdAt":"2026-02-21T09:49:42.666Z","versionId":"cfae53fb-25af-40a8-9028-c44e5a82033c","workflowId":"m7c7N1PEVGJa3ncu","nodes":[{"id":"1","name":"GitHub 배포 웹훅 수신","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,300],"parameters":{"path":"github-deploy-seedance","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"github-deploy-seedance"},{"id":"2","name":"수신내용 정리","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,300],"parameters":{"assignments":{"assignments":[{"name":"status","value":"received","type":"string"},{"name":"repo","value":"={{$json.body.repo || ''}}","type":"string"},{"name":"branch","value":"={{$json.body.branch || ''}}","type":"string"},{"name":"commit","value":"={{$json.body.commit || ''}}","type":"string"}]}}},{"id":"3","name":"응답 반환","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[760,300],"parameters":{"respondWith":"json","responseBody":"={{$json}}"}}],"connections":{"GitHub 배포 웹훅 수신":{"main":[[{"node":"수신내용 정리","type":"main","index":0}]]},"수신내용 정리":{"main":[[{"node":"응답 반환","type":"main","index":0}]]}},"authors":"Daniel Park","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-21T09:49:42.717Z","id":8,"workflowId":"m7c7N1PEVGJa3ncu","versionId":"cfae53fb-25af-40a8-9028-c44e5a82033c","event":"activated","userId":"bd43798f-a806-4582-8934-b9ceac9f96ef"},{"createdAt":"2026-02-21T09:49:42.777Z","id":10,"workflowId":"m7c7N1PEVGJa3ncu","versionId":"cfae53fb-25af-40a8-9028-c44e5a82033c","event":"activated","userId":"bd43798f-a806-4582-8934-b9ceac9f96ef"},{"createdAt":"2026-02-21T09:49:42.704Z","id":7,"workflowId":"m7c7N1PEVGJa3ncu","versionId":"cfae53fb-25af-40a8-9028-c44e5a82033c","event":"deactivated","userId":"bd43798f-a806-4582-8934-b9ceac9f96ef"},{"createdAt":"2026-02-21T09:49:42.760Z","id":9,"workflowId":"m7c7N1PEVGJa3ncu","versionId":"cfae53fb-25af-40a8-9028-c44e5a82033c","event":"deactivated","userId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}]}}