workflows/업무칸반-텔레그램→Trello-v1.json
{"updatedAt":"2026-02-21T13:32:08.000Z","createdAt":"2026-02-21T11:35:42.198Z","id":"ENfI9D5aXDvILVvu","name":"업무칸반-텔레그램→Trello-v1","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kanban/trello-add","responseMode":"responseNode","options":{}},"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,368],"webhookId":"kanban-trello-add-webhook"},{"parameters":{"assignments":{"assignments":[{"name":"text","type":"string","value":"={{$json.body?.text || $json.text || \"\"}}"}]},"options":{}},"id":"2","name":"입력 정규화","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,368]},{"parameters":{"jsCode":"const txt = $input.first().json.text || '';\nconst pick = (re, d='') => (txt.match(re)?.[1] || d).trim();\nconst title = txt.replace(/#\\w+(:[^\\s]+)?/g,'').trim() || '제목없음';\nconst owner = pick(/#owner:([^#]+)/i, '미지정');\nconst dueRaw = pick(/#due:([^#]+)/i, '');\nconst listKey = pick(/#list:([^#]+)/i, 'TODO').toUpperCase();\nconst action = /#done/i.test(txt) ? 'DONE' : /#doing/i.test(txt) ? 'DOING' : 'TODO';\nreturn [{ json: { raw: txt, title, owner, dueRaw, listKey, action } }];"},"id":"3","name":"태그 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,368]},{"parameters":{"method":"POST","url":"https://api.trello.com/1/cards","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"__REDACTED_KEY__"},{"name":"token","value":"__REDACTED_TOKEN__"},{"name":"idList","value":"={{$json.action === \"DONE\" ? \"69999d02a8d185e3db668782\" : ($json.action === \"DOING\" ? \"69999d02a8d185e3db668781\" : \"69999d02a8d185e3db668780\")}}"},{"name":"name","value":"={{$json.title}}"},{"name":"desc","value":"={{`owner:${$json.owner}\\nraw:${$json.raw}`}}"}]},"options":{}},"id":"4","name":"Trello 카드 생성","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,368]},{"parameters":{"content":"## 1) 입력 (Telegram/테스트)\n- 현재는 테스트 메시지 노드 사용\n- 실운영 시 Telegram Trigger로 교체\n- 메시지 예시: `#todo 업무 #owner:이름 #due:YYYY-MM-DD HH:mm #list:TODO`","height":308,"width":420,"color":4},"id":"100","name":"메모: 1) 입력","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,208]},{"parameters":{"content":"## 2) 태그 파싱\n- #owner, #due, #list 추출\n- 제목은 태그 제거 후 본문으로 생성\n- action: TODO/DOING/DONE 판단","height":308,"width":340,"color":3},"id":"101","name":"메모: 2) 파싱","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,208]},{"parameters":{"content":"## 3) Trello 카드 생성\n- key/token/listId는 환경변수 사용\n- 기본은 TODO 리스트로 생성\n- 이후 상태변경 자동 리포트 노드 추가 예정","height":308,"width":360,"color":5},"id":"102","name":"메모: 3) 카드 생성","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,208]},{"parameters":{"respondWith":"json","responseBody":"={\"ok\":true,\"title\":\"={{$json.title}}\",\"action\":\"={{$json.action}}\"}","options":{"responseCode":200}},"id":"resp-kanban-trello","name":"응답","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,120]}],"connections":{"Webhook":{"main":[[{"node":"입력 정규화","type":"main","index":0}]]},"입력 정규화":{"main":[[{"node":"태그 파싱","type":"main","index":0}]]},"태그 파싱":{"main":[[{"node":"Trello 카드 생성","type":"main","index":0}]]},"Trello 카드 생성":{"main":[[{"node":"응답","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2bd9631f-b025-4b3c-9a9f-c74b6dcd6b23","activeVersionId":"2bd9631f-b025-4b3c-9a9f-c74b6dcd6b23","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-02-21T11:35:42.201Z","createdAt":"2026-02-21T11:35:42.201Z","role":"workflow:owner","workflowId":"ENfI9D5aXDvILVvu","projectId":"Q6IYjEZ0zKYV4LWk","project":{"updatedAt":"2026-02-19T04:53:48.051Z","createdAt":"2026-02-19T04:51:54.853Z","id":"Q6IYjEZ0zKYV4LWk","name":"Daniel Park <reedo.dev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-21T13:32:08.000Z","createdAt":"2026-02-21T13:32:08.000Z","versionId":"2bd9631f-b025-4b3c-9a9f-c74b6dcd6b23","workflowId":"ENfI9D5aXDvILVvu","nodes":[{"parameters":{"httpMethod":"POST","path":"kanban/trello-add","responseMode":"responseNode","options":{}},"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,368],"webhookId":"kanban-trello-add-webhook"},{"parameters":{"assignments":{"assignments":[{"name":"text","type":"string","value":"={{$json.body?.text || $json.text || \"\"}}"}]},"options":{}},"id":"2","name":"입력 정규화","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,368]},{"parameters":{"jsCode":"const txt = $input.first().json.text || '';\nconst pick = (re, d='') => (txt.match(re)?.[1] || d).trim();\nconst title = txt.replace(/#\\w+(:[^\\s]+)?/g,'').trim() || '제목없음';\nconst owner = pick(/#owner:([^#]+)/i, '미지정');\nconst dueRaw = pick(/#due:([^#]+)/i, '');\nconst listKey = pick(/#list:([^#]+)/i, 'TODO').toUpperCase();\nconst action = /#done/i.test(txt) ? 'DONE' : /#doing/i.test(txt) ? 'DOING' : 'TODO';\nreturn [{ json: { raw: txt, title, owner, dueRaw, listKey, action } }];"},"id":"3","name":"태그 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,368]},{"parameters":{"method":"POST","url":"https://api.trello.com/1/cards","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"__REDACTED_KEY__"},{"name":"token","value":"__REDACTED_TOKEN__"},{"name":"idList","value":"={{$json.action === \"DONE\" ? \"69999d02a8d185e3db668782\" : ($json.action === \"DOING\" ? \"69999d02a8d185e3db668781\" : \"69999d02a8d185e3db668780\")}}"},{"name":"name","value":"={{$json.title}}"},{"name":"desc","value":"={{`owner:${$json.owner}\\nraw:${$json.raw}`}}"}]},"options":{}},"id":"4","name":"Trello 카드 생성","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,368]},{"parameters":{"content":"## 1) 입력 (Telegram/테스트)\n- 현재는 테스트 메시지 노드 사용\n- 실운영 시 Telegram Trigger로 교체\n- 메시지 예시: `#todo 업무 #owner:이름 #due:YYYY-MM-DD HH:mm #list:TODO`","height":308,"width":420,"color":4},"id":"100","name":"메모: 1) 입력","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,208]},{"parameters":{"content":"## 2) 태그 파싱\n- #owner, #due, #list 추출\n- 제목은 태그 제거 후 본문으로 생성\n- action: TODO/DOING/DONE 판단","height":308,"width":340,"color":3},"id":"101","name":"메모: 2) 파싱","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,208]},{"parameters":{"content":"## 3) Trello 카드 생성\n- key/token/listId는 환경변수 사용\n- 기본은 TODO 리스트로 생성\n- 이후 상태변경 자동 리포트 노드 추가 예정","height":308,"width":360,"color":5},"id":"102","name":"메모: 3) 카드 생성","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,208]},{"parameters":{"respondWith":"json","responseBody":"={\"ok\":true,\"title\":\"={{$json.title}}\",\"action\":\"={{$json.action}}\"}","options":{"responseCode":200}},"id":"resp-kanban-trello","name":"응답","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,120]}],"connections":{"Webhook":{"main":[[{"node":"입력 정규화","type":"main","index":0}]]},"입력 정규화":{"main":[[{"node":"태그 파싱","type":"main","index":0}]]},"태그 파싱":{"main":[[{"node":"Trello 카드 생성","type":"main","index":0}]]},"Trello 카드 생성":{"main":[[{"node":"응답","type":"main","index":0}]]}},"authors":"[]","name":"업무칸반-텔레그램→Trello-v1","description":null,"autosaved":false,"workflowPublishHistory":[]}}