workflows/업무칸반-텔레그램→Notion-v1.json
{"updatedAt":"2026-02-21T12:23:49.178Z","createdAt":"2026-02-21T11:40:59.770Z","id":"uPIn5NTpmS5ReZl7","name":"업무칸반-텔레그램→Notion-v1","description":null,"active":false,"isArchived":false,"nodes":[{"id":"1","name":"수동 실행(테스트)","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[220,340],"parameters":{}},{"id":"2","name":"테스트 메시지 입력","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,340],"parameters":{"mode":"manual","assignments":{"assignments":[{"name":"text","type":"string","value":"#todo 홈페이지 배너 수정 #owner:민수 #due:2026-02-22 18:00 #priority:high #topic:회사업무"}]}}},{"id":"3","name":"태그 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,340],"parameters":{"mode":"runOnceForAllItems","jsCode":"const txt = $input.first().json.text || '';\nconst pick = (re, d='') => (txt.match(re)?.[1] || d).trim();\nconst clean = txt.replace(/#\\w+(:[^\\s]+)?/g,'').trim();\nconst title = clean || '제목없음';\nconst owner = pick(/#owner:([^#]+)/i, '미지정');\nconst dueRaw = pick(/#due:([^#]+)/i, '');\nconst priority = pick(/#priority:([^#]+)/i, 'medium').toLowerCase();\nconst topic = pick(/#topic:([^#]+)/i, 'General');\nconst status = /#done/i.test(txt) ? 'Done' : /#doing/i.test(txt) ? 'Doing' : 'To do';\nreturn [{ json: { raw: txt, title, owner, dueRaw, priority, topic, status } }];"}},{"id":"4","name":"Notion 카드 생성","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,340],"parameters":{"method":"POST","url":"https://api.notion.com/v1/pages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{`Bearer ${$env.NOTION_API_KEY}`}}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ parent: { database_id: $env.NOTION_DATABASE_ID }, properties: { '제목': { title: [{ text: { content: $json.title } }] }, '상태': { status: { name: $json.status } }, '담당': { rich_text: [{ text: { content: $json.owner } }] }, '우선순위': { select: { name: $json.priority } }, '마감': $json.dueRaw ? { date: { start: $json.dueRaw } } : undefined, '토픽': { select: { name: $json.topic } }, '원문': { rich_text: [{ text: { content: $json.raw.slice(0, 1900) } }] } } }) }}"}},{"id":"100","name":"메모: 1) 입력","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,200],"parameters":{"content":"## 1) 입력 (Telegram/테스트)\n- 현재는 테스트 메시지 노드\n- 실운영 전 Telegram Trigger로 교체\n- 입력 예: `#todo 업무 #owner:이름 #due:YYYY-MM-DD HH:mm #priority:high #topic:회사업무`","height":280,"width":420,"color":4}},{"id":"101","name":"메모: 2) 파싱","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,200],"parameters":{"content":"## 2) 태그 파싱\n- 제목/담당/마감/우선순위/토픽 추출\n- 상태 자동 분기: To do / Doing / Done\n- 누락값은 기본값으로 보정","height":280,"width":340,"color":3}},{"id":"102","name":"메모: 3) Notion 저장","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,200],"parameters":{"content":"## 3) Notion 카드 생성\n- Database ID + API 키 환경변수 사용\n- Notion DB 필드명은 아래와 동일해야 함:\n  - 제목(title), 상태(status), 담당(rich_text), 우선순위(select), 마감(date), 토픽(select), 원문(rich_text)","height":280,"width":460,"color":5}}],"connections":{"수동 실행(테스트)":{"main":[[{"node":"테스트 메시지 입력","type":"main","index":0}]]},"테스트 메시지 입력":{"main":[[{"node":"태그 파싱","type":"main","index":0}]]},"태그 파싱":{"main":[[{"node":"Notion 카드 생성","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1fd5c192-3fc3-4862-a4ad-fddc7c5ecac9","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-02-21T11:40:59.771Z","createdAt":"2026-02-21T11:40:59.771Z","role":"workflow:owner","workflowId":"uPIn5NTpmS5ReZl7","projectId":"Q6IYjEZ0zKYV4LWk","project":{"updatedAt":"2026-02-19T04:53:48.051Z","createdAt":"2026-02-19T04:51:54.853Z","id":"Q6IYjEZ0zKYV4LWk","name":"Daniel Park <reedo.dev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}}],"tags":[],"activeVersion":null}