workflows/캘린더_일정_자동화.json
{"updatedAt":"2026-02-21T12:38:57.000Z","createdAt":"2026-02-19T05:50:35.702Z","id":"lTqCjCQaK3yWhSdL","name":"캘린더 일정 자동화","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"calendar/korean-add","responseMode":"responseNode","options":{}},"id":"9bb4965e-47e1-48c1-8129-b8ee39821772","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,64],"webhookId":"calendar-add-webhook"},{"parameters":{"jsCode":"const b = $json.body ?? $json;\nconst text = String(b.text || '').trim();\nif (!text) throw new Error('text 필요');\n\nconst now = new Date();\nconst thisYear = now.getUTCFullYear();\n\nconst pad = (n) => String(n).padStart(2, '0');\nconst fmtKST = (utcMs) => {\n  const d = new Date(utcMs + 9 * 60 * 60 * 1000);\n  return `${d.getUTCFullYear()}-${pad(d.getUTCMonth() + 1)}-${pad(d.getUTCDate())}T${pad(d.getUTCHours())}:${pad(d.getUTCMinutes())}:00+09:00`;\n};\n\nconst rangeRe = /(?:(\\d{4})년\\s*)?(\\d{1,2})월\\s*(\\d{1,2})일\\s*부터\\s*(?:(\\d{4})년\\s*)?(\\d{1,2})월\\s*(\\d{1,2})일\\s*까지\\s*(.+)/;\nconst rm = text.match(rangeRe);\nif (rm) {\n  const sy = rm[1] ? Number(rm[1]) : thisYear;\n  const sm = Number(rm[2]);\n  const sd = Number(rm[3]);\n  const ey = rm[4] ? Number(rm[4]) : sy;\n  const em = Number(rm[5]);\n  const ed = Number(rm[6]);\n  const title = rm[7].trim().replace(/^에\\s*/, '');\n\n  const startUtcMs = Date.UTC(sy, sm - 1, sd, -9, 0, 0);\n  const endExclusiveUtcMs = Date.UTC(ey, em - 1, ed + 1, -9, 0, 0);\n\n  return [{ title, start: fmtKST(startUtcMs), end: fmtKST(endExclusiveUtcMs), timezone: 'Asia/Seoul', allDay: true, original: text }];\n}\n\nconst singleRe = /(?:(\\d{4})년\\s*)?(\\d{1,2})월\\s*(\\d{1,2})일\\s*(오전|오후|아침|점심|저녁|밤)?\\s*(\\d{1,2})시(?:\\s*(\\d{1,2})분?)?\\s*(.+)/;\nconst m = text.match(singleRe);\nif (!m) throw new Error('형식 예: 2월 20일 저녁 7시 30분 테스트 일정 / 2월 23일부터 2월 26일까지 대만 여행');\n\nconst year = m[1] ? Number(m[1]) : thisYear;\nconst month = Number(m[2]);\nconst day = Number(m[3]);\nconst period = m[4] || '';\nlet hour = Number(m[5]);\nconst minute = m[6] ? Number(m[6]) : 0;\nconst title = m[7].trim().replace(/^에\\s*/, '');\n\nif (['오후', '저녁', '밤'].includes(period) && hour < 12) hour += 12;\nif (['오전', '아침'].includes(period) && hour === 12) hour = 0;\nif (period === '점심' && hour < 12) hour += 12;\n\nconst startUtcMs = Date.UTC(year, month - 1, day, hour - 9, minute, 0);\nconst endUtcMs = startUtcMs + 30 * 60 * 1000;\n\nreturn [{ title, start: fmtKST(startUtcMs), end: fmtKST(endUtcMs), timezone: 'Asia/Seoul', allDay: false, original: text }];\n"},"id":"c92f1455-1db3-437d-bdbe-ca062ad19c21","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,64]},{"parameters":{"calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"primary"},"start":"={{$json.start}}","end":"={{$json.end}}","additionalFields":{"summary":"={{$json.title}}"}},"id":"3862ac28-38db-4543-9c40-cc85c9afdef2","name":"Google Calendar - Create Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[368,64],"credentials":{"googleCalendarOAuth2Api":{"id":"XW1kspEFZP14seEE","name":"Reedo.Dev Google Calendar"}}},{"parameters":{"respondWith":"json","responseBody":"={\n\"ok\": true,\n\"title\": \"={{$json.title}}\",\n\"start\": \"={{$json.start}}\",\n\"end\": \"={{$json.end}}\"\n}\n","options":{"responseCode":200}},"id":"24ebe790-7e31-4cee-973e-89b813a0ff13","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[656,64]}],"connections":{"Webhook":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Google Calendar - Create Event","type":"main","index":0}]]},"Google Calendar - Create Event":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be8c65c7-7529-4760-8a86-1eebbf768784","activeVersionId":"be8c65c7-7529-4760-8a86-1eebbf768784","versionCounter":37,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T05:50:35.705Z","createdAt":"2026-02-19T05:50:35.705Z","role":"workflow:owner","workflowId":"lTqCjCQaK3yWhSdL","projectId":"Q6IYjEZ0zKYV4LWk","project":{"updatedAt":"2026-02-19T04:53:48.051Z","createdAt":"2026-02-19T04:51:54.853Z","id":"Q6IYjEZ0zKYV4LWk","name":"Daniel Park <reedo.dev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-21T12:38:57.000Z","createdAt":"2026-02-19T06:25:15.817Z","versionId":"be8c65c7-7529-4760-8a86-1eebbf768784","workflowId":"lTqCjCQaK3yWhSdL","nodes":[{"parameters":{"httpMethod":"POST","path":"calendar/korean-add","responseMode":"responseNode","options":{}},"id":"9bb4965e-47e1-48c1-8129-b8ee39821772","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,64],"webhookId":"calendar-add-webhook"},{"parameters":{"jsCode":"const b = $json.body ?? $json;\nconst text = String(b.text || '').trim();\nif (!text) throw new Error('text 필요');\n\nconst now = new Date();\nconst thisYear = now.getUTCFullYear();\n\nconst pad = (n) => String(n).padStart(2, '0');\nconst fmtKST = (utcMs) => {\n  const d = new Date(utcMs + 9 * 60 * 60 * 1000);\n  return `${d.getUTCFullYear()}-${pad(d.getUTCMonth() + 1)}-${pad(d.getUTCDate())}T${pad(d.getUTCHours())}:${pad(d.getUTCMinutes())}:00+09:00`;\n};\n\nconst rangeRe = /(?:(\\d{4})년\\s*)?(\\d{1,2})월\\s*(\\d{1,2})일\\s*부터\\s*(?:(\\d{4})년\\s*)?(\\d{1,2})월\\s*(\\d{1,2})일\\s*까지\\s*(.+)/;\nconst rm = text.match(rangeRe);\nif (rm) {\n  const sy = rm[1] ? Number(rm[1]) : thisYear;\n  const sm = Number(rm[2]);\n  const sd = Number(rm[3]);\n  const ey = rm[4] ? Number(rm[4]) : sy;\n  const em = Number(rm[5]);\n  const ed = Number(rm[6]);\n  const title = rm[7].trim().replace(/^에\\s*/, '');\n\n  const startUtcMs = Date.UTC(sy, sm - 1, sd, -9, 0, 0);\n  const endExclusiveUtcMs = Date.UTC(ey, em - 1, ed + 1, -9, 0, 0);\n\n  return [{ title, start: fmtKST(startUtcMs), end: fmtKST(endExclusiveUtcMs), timezone: 'Asia/Seoul', allDay: true, original: text }];\n}\n\nconst singleRe = /(?:(\\d{4})년\\s*)?(\\d{1,2})월\\s*(\\d{1,2})일\\s*(오전|오후|아침|점심|저녁|밤)?\\s*(\\d{1,2})시(?:\\s*(\\d{1,2})분?)?\\s*(.+)/;\nconst m = text.match(singleRe);\nif (!m) throw new Error('형식 예: 2월 20일 저녁 7시 30분 테스트 일정 / 2월 23일부터 2월 26일까지 대만 여행');\n\nconst year = m[1] ? Number(m[1]) : thisYear;\nconst month = Number(m[2]);\nconst day = Number(m[3]);\nconst period = m[4] || '';\nlet hour = Number(m[5]);\nconst minute = m[6] ? Number(m[6]) : 0;\nconst title = m[7].trim().replace(/^에\\s*/, '');\n\nif (['오후', '저녁', '밤'].includes(period) && hour < 12) hour += 12;\nif (['오전', '아침'].includes(period) && hour === 12) hour = 0;\nif (period === '점심' && hour < 12) hour += 12;\n\nconst startUtcMs = Date.UTC(year, month - 1, day, hour - 9, minute, 0);\nconst endUtcMs = startUtcMs + 30 * 60 * 1000;\n\nreturn [{ title, start: fmtKST(startUtcMs), end: fmtKST(endUtcMs), timezone: 'Asia/Seoul', allDay: false, original: text }];\n"},"id":"c92f1455-1db3-437d-bdbe-ca062ad19c21","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,64]},{"parameters":{"calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"primary"},"start":"={{$json.start}}","end":"={{$json.end}}","additionalFields":{"summary":"={{$json.title}}"}},"id":"3862ac28-38db-4543-9c40-cc85c9afdef2","name":"Google Calendar - Create Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[368,64],"credentials":{"googleCalendarOAuth2Api":{"id":"XW1kspEFZP14seEE","name":"Reedo.Dev Google Calendar"}}},{"parameters":{"respondWith":"json","responseBody":"={\n\"ok\": true,\n\"title\": \"={{$json.title}}\",\n\"start\": \"={{$json.start}}\",\n\"end\": \"={{$json.end}}\"\n}\n","options":{"responseCode":200}},"id":"24ebe790-7e31-4cee-973e-89b813a0ff13","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[656,64]}],"connections":{"Webhook":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Google Calendar - Create Event","type":"main","index":0}]]},"Google Calendar - Create Event":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"authors":"Daniel Park","name":"Version be8c65c7","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-19T06:25:31.572Z","id":5,"workflowId":"lTqCjCQaK3yWhSdL","versionId":"be8c65c7-7529-4760-8a86-1eebbf768784","event":"activated","userId":"bd43798f-a806-4582-8934-b9ceac9f96ef"}]}}